@media (min-width: 625px) {
  @supports (display: grid) {
    .candidates-container {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      gap: 1em;
    }
  }
}
