.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 5em);
}

.section--profile {
  background-color: #ffffff;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2em;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

@media (min-width: 625px) {
  .section--profile {
    width: 40%;
  }
}

.profile__footer {
  margin-top: 2em;
}

.viewCV-text:hover,
.viewCV-text:focus {
  font-weight: 700;
  text-decoration: underline;
}
