.section--resume {
  background-color: #ffffff;
  padding: 2em;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.section--resume__experience-title,
.section--resume__skills-title {
  text-decoration: underline;
}

.skills {
  display: flex;
  color: teal;
}

.skills > * + * {
  margin-left: 1em;
}

.skill-name {
  margin-top: 0;
}

.comments-section {
  margin-top: 3em;
}

.comments-section__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

@media (min-width: 625px) {
  .comments-section__form {
    width: 70%;
  }
}

.form__group {
  display: flex;
  width: 100%;
  margin-bottom: 0.5em;
}

.form__control {
  flex: 1;
}

.submit-btn {
  padding: 0.5em 2em;
  font-weight: 700;
  background-color: #ffffff;
  border: 1px solid gray;
}
