*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
ul,
h1 {
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  line-height: 1.5;
  background-color: #f5f5f5;
  color: #000000;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000000;
  display: block;
}

img {
  max-width: 100%;
  display: block;
}

/* ===========================
  Typography
===========================*/
.text-bold {
  font-weight: 700;
}

.ml-text {
  margin-left: 1em;
}

/* ===========================
  Layout
===========================*/
.flow > * + * {
  margin-top: 1em;
}

@media (min-width: 625px) {
  .flow > * + * {
    margin-top: 0;
  }
}

.wrapper {
  padding: 2em;
}

.d-flex {
  display: flex;
  align-items: center;
}
