/* ===========================
  Layout
===========================*/
.header {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em 1em;
}

.nav__list {
  display: flex;
}

.nav__item + .nav__item {
  margin-left: 1em;
}

.nav__link {
  padding: 0.1em 1em;
}

.nav__link:hover,
.nav__link:focus {
  text-decoration: underline;
}
